*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    background-color: rgb(2, 47, 77);
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 10px;
    padding: 20px;
    position: sticky;
}
nav a{
    text-decoration: none;
    color: initial;
    color: white;
}
nav ul{
    list-style: none;
}

.navigation{
    justify-self: end;
    display: flex;
    gap: 20px;
}

.all-items-container{
    padding: 20px;
    gap: 20px;
}
.details-of-items {    
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* gap: 10px; */
    /* border: 2px solid green; */
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.the-images img{
    /* border-radius: 30px; */
    height: 200px;
    width: 200px;
}
.wishlist{
    background-color: rgb(2, 47, 77);
    color: white;
    padding: 10px;
    border-radius: 30px;    
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.page-selector, .book-count-input{
    padding: 5px 10px;
    border-radius: 12px;
}
.book-count-input{
    margin-top: 10px;
    width: 100px;
}

footer{    
    bottom: 0;
    position:relative;
    padding: 20px;
    background-color: rgb(2, 47, 77);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer a{
    text-decoration: none;
    color: inherit;
}
footer ul{
    list-style: none;
}
footer ul li{
    padding:7px 0px;
}

.main-footer-contents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.added-to-wishlist-notif{
    opacity: 0;
}
.show-added-notif{
    opacity: 1;
}


@media(max-width:474px){
    .all-items-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .main-footer-contents{
        grid-template-columns: 1fr;        
    }
    nav{
        display: none;
    }
}
@media(min-width:475px){
    .all-items-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .main-footer-contents{
        grid-template-columns: repeat(2, 1fr);        
    }
}
@media(min-width:730px){
    .all-items-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .main-footer-contents{
        grid-template-columns: repeat(3, 1fr);        
    }
}
@media(min-width:1000px){
    .all-items-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width:1200px){
    .all-items-container{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}
@media(min-width:1450px){
    .all-items-container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}
